classdef  ${1:`Filename()`}
% ${1}  ${2:Description}
% 
% $Id:$
% $LastChangedBy:$
% $LastChangedDate:$
% $LastChangedRevision:$
% 
	properties
		${3:properties here}
	end
	methods
		function obj =${1}(${4:varargin})
			${5:code}
		end
	end
end
