 snippet func 
 	function ${3:varargout} = ${1:`FileName()`}(${2:varargin})
 	% ${1:}:  ${4:short description}
 	% 
 	% $Id:$
 	% $LastChangedBy:$
 	% $LastChangedDate:$
 	% $LastChangedRevision:$
 	% 
 	% ${5:long description}
 	% 

        ${6:code start here}
    end
